{
  "extends": [
    "react-app",
    "plugin:jsx-a11y/recommended",
    "prettier",
    "plugin:tailwindcss/recommended",
    "airbnb"
  ],
  "plugins": ["jsx-a11y", "prettier"],
  "rules": {
    "no-restricted-imports": [
      "error",
      {
        "patterns": ["@/features/*/*"]
      }
    ],
    "tailwindcss/classnames-order": "error",
    "tailwindcss/no-custom-classname": "error"
  },
  "settings": {
    "tailwindcss": {
      "groupByResponsive": true
    }
  }
}
